<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Create project</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Create a new project</h1>

<form method="post" th:object="${createForm}">
    <div><label for="title">Titre:</label></div>
    <input id="title" type="text" name="title" th:value="*{title}" />
    <span class="formError" th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}">Invalid title</span>

    <div><label for="description">Description:</label></div>
    <textarea rows="4" cols="50" id="description" type="text" name="description" th:value="*{description}">Write description...</textarea>
    <span class="formError" th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}">Invalid description</span>

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />

    <div><input type="submit" value="Create"/>
        <a href="projects.html" th:href="@{/projects/search}">[Go to projects]</a></div>
</form>

<footer th:replace="layout :: site-footer" />

</body>

</html>